.navbar {
    display: flex;
    align-items: center;
    height: 75px;
}

a {
    text-decoration: none;
}

.navlinks {
    flex-grow: 8;
    display: flex;
    justify-content: space-evenly;
}

.navtheme {
    flex-grow: 1;
    display: flex;
    justify-content: right;
}

.navauth {
    display: flex;
    justify-content: right;
}

.darkButton {
    background-color: white;
    color: black;
}